<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="profile">
        <h1>{{user.username}}</h1>
        <img src="{{user.profilePicture}}" alt="Profile Picture">
        <p>Recipes: {{user.recipes}}</p>
        <p>Joined: {{formatDate user.joined}}</p>
    </div>

    <script src="app.js"></script>
</body>
 <main>
       <div class="container">
        {{{body}}}
        </div>
    </main>
</html>
