<section class="recipe-card" id="recipe-card">
  <a href="/recipes/{{id}}">
    <h3>{{recipe_name}}</h3>
    <div class="recipe-details">
      <p>{{recipe_category}}</p>
      <p>{{ingredients}}</p>
      <p>{{recipe_measurement}}</p>
      <p>{{recipe_instructions}}</p>
      <p>{{recipe_cooktime}}</p>
      <p>Servings: {{recipe_servings}}</p>
      <p>By: {{user.username}}</p>
    </div>
  </a>
    </section>
